@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  /* used for progressbar color  */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
/* box  */
#main {
  padding: 4%;
  margin: 50px;
  border: 2px black solid;
  border-radius: 15px;
  font-size: 25px;
  height: 600px;
  width: 500px;
  position: relative;
}
/* progress bar  */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
/* predicted price  */
.predicted-price-section {
  margin: 100px 0;
  position: absolute;
  bottom: 0;
}

/* buttons  */
.btn {
  cursor: pointer;
  /* display: inline; */
  color: #fff;
  padding: 12px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 48%;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
#prev {
  margin: 5px;
  left: 0;
  background-color: rgb(23, 95, 23);
}
#next {
  margin: 5px;
  right: 0;
  background-color: rgb(24, 24, 201);
}
#submit {
  margin: 5px;
  right: 0;
  background-color: #c0392b;
}
/* dropdown menu  */
#houseType,
#priceType {
  font-size: 20px;
  padding: 5px;
  margin-left: 100px;
  border-radius: 10px;
}

/* checkbox  */
.amenities-checkbox {
  /* padding: 40px; */
  font-family: Arial;
}
